.col		{
	width:50%;
	height:20em;
	float:left;
	margin:1em 0em;
}

.first	{
	background-color:red;
}

.second	{
	background-color:blue;
}

.third	{
	background-color:yellow;
}

.fourth	{
	background-color:green;
}

@media screen and (min-width:600px)	{
	.col {
		width:33.3%;
	}
	.fourth	{
		width:100%;
	}
}

@media screen and (min-width:900px)	{
	.col	{
		width:25%;
	}
}